/* body {
  color: white;
  background-color: black;
} */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto";
}

.left {
  width: 25vw;
  height: 100vh;
}

.right {
  width: 75vw;
  height: 100vh;
}

.home ul li {
  width: 15px;
  gap: 15px;
  display: flex;
  list-style: none;
  padding-top: 15px;
  font-weight: bold;
}

.heading {
  height: 15px;
  width: 100%;
  gap: 15px;
  padding: 23px 14px;
  font-size: 13px;
  display: flex;
  font-weight: bold;
  align-items: center;
}

.bg-black {
  background-color: black;
  color: white;
}

.invert {
  filter: invert(1);
}

.bg-grey {
  background-color: #121212;
}

.library {
  margin-top: 10px;
  min-height: 70vh;
  position: relative;
}

/* .playlist-heading {
  margin-top: -3px;
} */

.heading img {
  width: 25px;
}

.footer {
  display: flex;
  color: grey;
  font-size: 10px;
  gap: 13px;
  position: absolute;
  bottom: 0;
}

.footer a {
  color: grey;
}

.home {
  min-height: 23vh;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #0d0d0d;
}

.header > * {
  padding: 20px;
}
